<h1>粉丝列表</h1>
<% if @user %>
<% @followers.users.each do |fs| %>
<div class ="row">
  <div class="span1">
    <a href="http://www.weibo.com/<%= fs.profile_url %>">
      <img width="50" height="50" alt="<%= fs.screen_name %>" src="<%= fs.profile_image_url %>" title="<%= fs.screen_name %>" usercard="id=<%= fs.id %>">
    </a>
  </div>
  <hr/>
  <br/>
</div>
<br/>
<% end %>
<% end %>
