<!DOCTYPE html>
<html>
<head>
  <title>Demo - weibo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2763920762" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">微博</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">首頁</a></li>
            <% if @user %>
              <li><a href="/home"><%= @user.screen_name %></a></li>
              <li><a href="/logout">登出</a></li>
            <%  else %>
              <li><a href="/connect">登入</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="container" class="container">
    <%= yield %>
    <hr />
    <footer>
      <p><a href="http://www.byvoid.com/" target="_blank">zlpy</a>© 2012</p>
    </footer>
  </div>
</body>
</html>
